JRELEASER_GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JRELEASER_GPG_PASSPHRASE=your-gpg-passphrase
JRELEASER_GPG_PUBLIC_KEY=-----BEGIN PGP PUBLIC KEY BLOCK-----\n\nmDMEZWBTMB...\n-----END PGP PUBLIC KEY BLOCK-----
JRELEASER_GPG_SECRET_KEY=-----BEGIN PGP PRIVATE KEY BLOCK-----\n\nlIYEZWBTMB...\n-----END PGP PRIVATE KEY BLOCK-----
JRELEASER_MAVENCENTRAL_SONATYPE_USERNAME=your-sonatype-username
JRELEASER_MAVENCENTRAL_SONATYPE_TOKEN=your-sonatype-token